<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Feira - Papicu</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <header>

    <div class="wrapper">
      <h1 class="texto">Feira do Papicu</h1>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li id="home"><a href="#"> Home</a></li>
          <li><a href="#Feirantes">Feirantes</a></li>
          <li><a href="#localidade">Localizacao</a></li>
          <li><a href="#produtos">Produtos</a></li>
          <li><a href="#publico">Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="image-principal">
    <div class="wrapper">
      <h2><strong>Feira do Papicu</strong><br />
      </h2>
    </div>
  </section>
  <section id="Feirantes">
    <h3>Feirantes</h3>
    <div class="grid-container">
      <div class="grid-item">
        <img width="200" height="200" src="https://cdn.pixabay.com/photo/2022/05/26/19/14/child-7223632_960_720.jpg" alt="Girl in a jacket">
        <h3>Joao</h3>
        <article>
          <h4>Barraca de Takoyaki</h4>
          <p>Vende Artesanantos Tradicionais.</p>
        </article>
      </div>
      <div class="grid-item">
        <img width="200" height="200" src="https://cdn.pixabay.com/photo/2022/05/26/19/14/child-7223632_960_720.jpg" alt="Girl in a jacket">
        <h3>Julio</h3>
        <article>
          <h4>Barraca de Sushi</h4>
          <p>Vende Peixe.</p>
        </article>
      </div>
      <div class="grid-item">
        <img width="200" height="200" src="https://cdn.pixabay.com/photo/2022/05/26/19/14/child-7223632_960_720.jpg" alt="Girl in a jacket">
        <h3>Davi</h3>
        <article>
          <h4>Barraca de Queijos Jose do Queijo</h4>
          <p>Vende Queijo.</p>
        </article>
      </div>
      <div class="grid-item">
        <img width="200" height="200" src="https://cdn.pixabay.com/photo/2022/05/26/19/14/child-7223632_960_720.jpg" alt="Girl in a jacket">
        <h3>Davi</h3>
        <article>
          <h4>Barraca de Queijos Jose do Queijo</h4>
          <p>Vende Queijo.</p>
        </article>
      </div>

    </div>
  </section>
  <section id="localidade">
    <h3><strong>Localidade</strong><br /></h3>

    <div class="wrapper">
      <p>Feira do Papicu ocorre todo sabado pela manha.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.326963519776!2d-38.4796316!3d-3.7387520999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c747d335514b73%3A0xefe0e64914ccfbc9!2sR.%20J%C3%BAlio%20Azevedo%20-%20Papicu%2C%20Fortaleza%20-%20CE!5e0!3m2!1spt-BR!2sbr!4v1655558129361!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
  <section id="produtos">
    <div class="wrapper">
      <article>
        <h3>Produtos</h3>
        <table>
          <th>Produto</th>
          <th>Preco Medio</th>
          <tr>
            <td>Queijo</td>
            <td>
              12$ kilo
            </td>
          </tr>
          <tr>
            <td>Feijao</td>
            <td>
              95$ kilo
            </td>
          </tr>
          <tr>
            <td>Polvo</td>
            <td>
              48$ kilo
            </td>
          </tr>
          <tr>
            <td>Mamao</td>
            <td>
              2$ kilo
            </td>
          </tr>

          <tr>

          </tr>
        </table>
      </article>
    </div>

  </section>
  <section id="publico">
    <div class="wrapper">
      <h3>Opinião do publico</h3>
      <ul>
        <li >
          <img src="../images/foto-perfil-1.png"width="150" height="200">
          <h4>Alcantara da Silva</h4>
          <p>Feira Muito Boa, e espontanea.</p>
        </li>
        <li >
          <img src="../images/foto-perfil-1.png"width="150" height="200">
          <h4>Alcantara da Silva</h4>
          <p>Feira Muito Boa, e espontanea.</p>
        </li>
        <li >
          <img src="../images/foto-perfil-1.png"width="150" height="200">
          <h4>Alcantara da Silva</h4>
          <p>Feira Muito Boa, e espontanea.</p>
        </li>
        <!-- <li class="perfil-2">
          <h4>Professor</h4>
          <p>Foi a minha primeira profissão, desde a época de monitor de matemática no primário.</p>

        </li>
        <li class="perfil-3">
          <h4>Analista de Sistemas</h4>
          <p>Minha profissão principal, onde tiro o meu sustento. Adoro possibilidade de criar novas coisas.</p>
        </li> -->
        <div class="clear"></div>
      </ul>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2022. All rights reserved.</p>
      </section>
      <!-- <svg>
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
      </svg>
      <svg width="400" height="100">
        <rect width="400" height="100" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" />
      </svg>
      <svg width="400" height="180">
        <rect x="50" y="20" rx="20" ry="20" width="150" height="150"
          style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
      </svg> -->

    </div>
  </footer>
</body>

</html>